{% comment %}
  Announcement Bar Scheduler - Liquid Snippet
  Requires: assets/announcement-bar.css & assets/announcement-bar.js
{% endcomment %}

{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}
<script src="{{ 'announcement-bar.js' | asset_url }}" defer></script>

<div id="announcement-bar-container"></div>